<li>
  <span class="content"><%= cause.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(cause.created_at) %> ago.
  </span>
  <% if current_user?(cause.user) %>
    <%= link_to "delete", cause, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: cause.content %>
  <% end %>
</li>