<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/14.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Contribute to good deeds in your community and beyond.</h1>
          <p class="lead">Let's use our powers for good.</p>
          <a class="btn btn-large btn-primary" href="#">Join for free</a>
        </div>
      </div>
    </div>
    <!-- <div class="item">
      <img src="/assets/14.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Sandy instructs Zumba.</h1>
          <p class="lead">And, with your help, she'll teach Zumba two times a week to underprivileged children in SF.</p>
          <a class="btn btn-large btn-primary" href="#">View Sandy's cause</a>
		  <a class="btn btn-large btn-primary" href="#">Browse all causes</a>
        </div>
      </div>
    </div> -->
    <!-- <div class="item">
      <img src="/assets/14.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Karen paints.</h1>
          <p class="lead">And GoodBee users are allowing her to lead classes at an NYC hospital.</p>
          <a class="btn btn-large btn-primary" href="#">View Karen's cause</a>
		  <a class="btn btn-large btn-primary" href="#">Browse all causes</a>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
</div><!-- /.carousel -->