<!-- <footer class="footer">
  <small>
    © 2012 Snapstarter, LLC. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer> -->

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2012 Snapstarter, LLC. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>