<!-- Marketing messaging and featurettes
   ================================================== -->
   <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="container marketing">
	<h1>GoodBee in Three Steps</h1>
	
     <!-- Three columns of text below the carousel -->
     <div class="row">
       <div class="span4">
         <img class="img-circle" src="/assets/11.png">
         <h2>1. Find good causes</h2>
         <p>Browse our collection of good people who use their time and talents to do good in their respective communities.</p>
         <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div><!-- /.span4 -->
       <div class="span4">
         <img class="img-circle" src="/assets/12.png">
         <h2>2. Contribute</h2>
         <p>GoodBee's purpose is to incentivize good deeds. When you fund causes, good things happen.</p>
         <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div><!-- /.span4 -->
       <div class="span4">
         <img class="img-circle" src="/assets/13.png">
         <h2>3. Feel good</h2>
         <p>You receive photo documentation when deeds are fulfilled and doers gets compensated, a rewarding experience for all sides!</p>
         <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div><!-- /.span4 -->
     </div><!-- /.row -->

     <!-- START THE FEATURETTES -->

     <!-- <hr class="featurette-divider">

          <div class="featurette">
            <img class="featurette-image pull-right" src="/assets/8.png">
            <h2 class="featurette-heading">This will eventually say something. <span class="muted">I promise.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <img class="featurette-image pull-left" src="/assets/9.png">
            <h2 class="featurette-heading">Maybe I don't. <span class="muted">Or do I?</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <img class="featurette-image pull-right" src="/assets/10.png">
            <h2 class="featurette-heading">This will be the last thing. <span class="muted">Obviously.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>

          <hr class="featurette-divider">
     	</div> -->

     <!-- /END THE FEATURETTES -->
